<ons-page id="applyNewDevice">
    <ons-toolbar id="toolsbar">
        <div class="toolbar__left center">
            <ons-back-button></ons-back-button>
        </div>
        <div class="toolbar__center welcomeHeader">APPLY NEW DEVICES</div>
        <div class="toolbar__right avatar">
            <div class="thumbnail"></div>
        </div>
    </ons-toolbar>
    <ons-row>
        <ons-col>

        </ons-col>
    </ons-row>
    <ons-row>

    </ons-row>
    <ons-bottom-toolbar modifier="aligned" class="botton-toolbar-align center">
        <ons-row>
            <ons-col width="25%">
                <div id="smartPush" style="margin:auto">
                    <img style="WIDTH:52px;padding-top:6px" src="UI/ai/0.75x/smartcare.png" alt="">
                </div>
            </ons-col>
            <ons-col width="25%">
                <div id="personalPush" style="margin:auto">
                    <img style="WIDTH:68px;padding-top:7px" src="UI/ai/0.75x/personal.png" alt="">
                </div>
            </ons-col>
            <ons-col width="25%">
                <div id="moreDevicePush" style="margin:auto" class="transparent-Bottom-Toolbar">
                    <img style="WIDTH:60px;padding-top:3px" src="UI/ai/0.75x/moreDevice.png" alt="">
                </div>
            </ons-col>
            <ons-col width="25%">
                <div id="indexPush" style="margin:auto">
                    <img style="WIDTH:64px;padding-top:3px" src="UI/ai/0.75x/reflex.png" alt="">
                </div>
            </ons-col>
        </ons-row>
    </ons-bottom-toolbar>


    <ons-card style="border-radius:10px;margin-top:20px;">
        <h2>CONTACT US</h2>
        <p>ชื่อผู้ติดต่อ</p>
        <div class="left">
            <textarea class="textarea" style="width:45%" rows="1" placeholder="ชื่อ"></textarea>
            <textarea class="textarea" style="width:45%" rows="1" placeholder="นามสกุล"></textarea>
        </div>
        <p>เบอร์โทรติดต่อ</p>
        <div class="left">
            <textarea class="textarea" style="width:40%" rows="1" placeholder="XXX-XXX-XXXX"></textarea></div>
        <p>E-mail</p>
        <div class="left">
            <textarea class="textarea" style="width:60%" rows="1" placeholder=""></textarea></div>
        
        <p>ประเภทองค์กร</p>
        <div class="center">
        <ons-list-item tappable>
            <label class="left">
                <ons-radio name="color" input-id="radio-1" checked type="checkbox" class="slectOne" data-id="1 selected"></ons-radio>
            </label>
            <label for="radio-1" class="center">บริษัท</label>
        </ons-list-item>
        <ons-list-item tappable>
            <label class="left">
                <ons-radio name="color" input-id="radio-2" type="checkbox" class="slectOne" data-id="2 selected"></ons-radio>
            </label>
            <label for="radio-2" class="center">บุคคลทั่วไป</label>
        </ons-list-item>
        <ons-list-item tappable>
            <label class="left">
                <ons-radio name="color" input-id="radio-2" type="checkbox" class="slectOne" data-id="2 selected"></ons-radio>
            </label>
            <label for="radio-2" class="center">หน่วยงานราชการ</label>
        </ons-list-item>
    </div>
        <p>ชื่อองค์กร</p>
        <div class="left">
            <textarea class="textarea" style="width:60%" rows="1" placeholder=""></textarea>
            <p>ชื่ออุปกรณ์</p>
            <div class="left">
                <textarea class="textarea" style="width:60%" rows="1" placeholder=""></textarea>
            <p>รายละเอียดหรือคุณสมบัติอุปกรณ์</p>
            <div class="center">
                <textarea class="textarea" style="width:100%" rows="3" placeholder=""></textarea>
            </div>

            <ons-col style="margin-top:30px">
                <div class="center">
        <ons-button class="b1" id="send">SEND</ons-button></div></ons-col>
    </ons-card>
</ons-page>
