<ons-page id="datacare">
    <ons-toolbar id="toolsbar">
        <div class="toolbar__left center">
            <ons-back-button></ons-back-button>
        </div>
        <div class="toolbar__center welcomeHeader">PERSONAL INFO</div>
        <div class="toolbar__right avatar">
            <div class="thumbnail"></div>
        </div>
    </ons-toolbar>
    <ons-row>
        <ons-col>

        </ons-col>
    </ons-row>
    <ons-row>

    </ons-row>
    <ons-bottom-toolbar modifier="aligned" class="botton-toolbar-align center">
        <ons-row>
            <ons-col width="25%">
                <div id="smartPush" style="margin:auto">
                    <img style="WIDTH:52px;padding-top:6px" src="UI/ai/0.75x/smartcare.png" alt="">
                </div>
            </ons-col>
            <ons-col width="25%">
                <div id="personalPush" style="margin:auto" class="transparent-Bottom-Toolbar">
                    <img style="WIDTH:68px;padding-top:7px" src="UI/ai/0.75x/personal.png" alt="">
                </div>
            </ons-col>
            <ons-col width="25%">
                <div id="moreDevicePush" style="margin:auto">
                    <img style="WIDTH:60px;padding-top:3px" src="UI/ai/0.75x/moreDevice.png" alt="">
                </div>
            </ons-col>
            <ons-col width="25%">
                <div id="indexPush" style="margin:auto">
                    <img style="WIDTH:64px;padding-top:3px" src="UI/ai/0.75x/reflex.png" alt="">
                </div>
            </ons-col>
        </ons-row>
    </ons-bottom-toolbar>

    <ons-row>
        <ons-col></ons-col>
        <ons-col>
            <div class="logo">
                <img class="logoSize" src="img\camera.png" alt="">
            </div>
        </ons-col>
        <ons-col></ons-col>
    </ons-row>

    <ons-row>
        <ons-col>
            <div class="center">
                <div class="text-Shadow headerText text-Spacing">PERSONAL INFO</div>
            </div>
        </ons-col>
    </ons-row>

        <ons-card style="border-radius:10px;margin-top:20px;">
                <h2 class="card__title" style="font-size:20px; color:red;text-align: center;font-family: 'SukhumvitSet-Text';">ข้อมูลสุขภาพเชิงลึก</h2>
                <div class="card__content">
                    <ons-row class="center">
                        <ons-col>
                            <p>ระดับชีพจร</p>
                            <ons-select id="choose-sel" onchange="editSelects(event)">
                                <option value="Bpm">Bpm</option>
                                <option value="...">...</option>
                                <option value="...">...</option>
                            </ons-select>
                        </ons-col>
                        <ons-col>
                            <p> ระดับความดันโลหิต</p>
                            <ons-select id="choose-sel" onchange="editSelects(event)">
                                <option value="1">น้อยกว่า 80</option>
                                <option value="2">80-89</option>
                                <option value="3">90-99</option>
                                <option value="4">100-120</option>
                                <option value="5">121-139</option>
                                <option value="5">140-159</option>
                                <option value="5">160 ขึ้นไป</option>
                            </ons-select>
                        </ons-col>


                        <ons-row>
                            <ons-col>
                                <p>ระดับความเข้มข้นของเลือด</p>


                                <ons-select id="choose-sel" onchange="editSelects(event)">
                                    <option value="HB">HB</option>
                                    <option value="...">...</option>
                                    <option value="...">...</option>
                                </ons-select>
                            </ons-col>
                            <ons-col>
                                <p>ไตรกรีเซอไรด์</p>
                                <ons-select id="choose-sel" onchange="editSelects(event)">
                                    <option value="...">...</option>
                                    <option value="...">...</option>
                                    <option value="...">...</option>
                                </ons-select>
                            </ons-col>

                            <ons-row>
                                <ons-col>
                                    <p>ระดับน้ำตาลในเลือด</p>
                                    <ons-select id="choose-sel" onchange="editSelects(event)">
                                        <option value="...">...</option>
                                        <option value="...">...</option>
                                        <option value="...">...</option>
                                    </ons-select>
                                </ons-col>
                                <ons-col>
                                    <p>ระดับไขมันในเลือด</p>
                                    <ons-select id="choose-sel" onchange="editSelects(event)">
                                        <option value="...">...</option>
                                        <option value="...">...</option>
                                        <option value="...">...</option>
                                    </ons-select>
                                </ons-col>
                                </one-row>
                                <ons-row>
                                    <p>อาการแพ้ยา</p>
                                    <ons-list-item tappable>
                                        <label class="left">
                                            <ons-radio name="color" input-id="radio-1" checked type="checkbox" class="slectOne" data-id="1 selected"></ons-radio>
                                        </label>
                                        <label for="radio-1" class="center">ไม่มี</label>
                                    </ons-list-item>
                                    <ons-list-item tappable>
                                        <label class="left">
                                            <ons-radio name="color" input-id="radio-2" type="checkbox" class="slectOne" data-id="2 selected"></ons-radio>
                                        </label>
                                        <label for="radio-2" class="center">มี</label>
                                    </ons-list-item>

                                    <div class="left">
                                            <textarea class="textarea" style="width:100%" rows="1" placeholder="โปรดระบุ"></textarea>
                                           
                                        </div>
                                    </ons-list-item>
                                </ons-row><p>โรคประจำตัว</p>
                                <ons-row>
                                    
                                    <ons-list>
                                        <ons-list-item tappable>
                                            <label class="left">
                                                <ons-checkbox input-id="check-1"></ons-checkbox>
                                            </label>
                                            <label for="check-1" class="center">
                                                ไม่มี
                                            </label>
                                        </ons-list-item>
                                        <ons-list-item tappable>
                                            <label class="left">
                                                <ons-checkbox input-id="check-2"></ons-checkbox>
                                            </label>
                                            <label for="check-2" class="center">
                                                โรคเบาหวาน
                                            </label>
                                        </ons-list-item>
                                        <ons-list-item tappable>
                                            <label class="left">
                                                <ons-checkbox input-id="check-1"></ons-checkbox>
                                            </label>
                                            <label for="check-1" class="center">
                                                โรคไทรอยด์
                                            </label>
                                        </ons-list-item>
                                        <ons-list-item tappable>
                                            <label class="left">
                                                <ons-checkbox input-id="check-1"></ons-checkbox>
                                            </label>
                                            <label for="check-1" class="center">
                                                โรคหัวใจ
                                            </label>
                                        </ons-list-item>
                                        <ons-list-item tappable>
                                            <label class="left">
                                                <ons-checkbox input-id="check-1"></ons-checkbox>
                                            </label>
                                            <label for="check-1" class="center">
                                                โรคความดันโลหิตสูง
                                            </label>
                                        </ons-list-item>
                                        <ons-list-item tappable>
                                            <label class="left">
                                                <ons-checkbox input-id="check-1"></ons-checkbox>
                                            </label>
                                            <label for="check-1" class="center">
                                                โรคภูมิแพ้
                                            </label>
                                        </ons-list-item>
                                        <ons-list-item tappable>
                                            <label class="left">
                                                <ons-checkbox input-id="check-1"></ons-checkbox>
                                            </label>
                                            <label for="check-1" class="center">
                                                อื่นๆ
                                            </label>
                                        </ons-list-item>
                                    </ons-list>
                                </ons-row>
                                <div class="left">
                                        <textarea class="textarea" style="width:100%" rows="1" placeholder="โปรดระบุ"></textarea>
                                       
                                    </div>
                </div>
                <div class="center" style="margin-top:30px">
                    <ons-button class="b2" id="finish">เสร็จสิ้น</ons-button>
                </div>
            </div>
        </ons-card>
            <ons-col style="margin-top:30px"></ons-col>
            </ons-row>






</ons-page>