<!-- MoreDevice -->

<ons-page id="moreDevice">
    <ons-search-input style="width:100%" placeholder="Search" onchange="ons.notification.alert('Searhed for: ' + this.value)"></ons-search-input>

    <ons-card style="margin-top:30px;border-radius:10px;height: 90px;">
        <ons-row>
            <ons-col class="center"style="margin:auto;">
                <img src="img/fitbitCharge2.png" style="height: 72px; width: 72px;margin-top: 8px;">
            </ons-col>
            <ons-col class="center Sukhumvit-font"style="margin:auto;">
                <div>Fitbit Charge 2</div>
                <div>Heart rate, Steps, Calories</div>
                     
            </ons-col>
            <ons-col class="center "style="margin:auto;">
                <img style="width:30px;height:30px;margin-top: 9px;" src="img/yes.png" alt="">
            </ons-col>
        </ons-row>
    </ons-card>    
    <ons-card style="margin-top:30px;border-radius:10px;height: 90px;">
        <ons-row>
            <ons-col class="center" style="margin:auto;">
                <img src="img/aria2.png" style="height: 72px; width: 115px;margin-top: 9px;">
            </ons-col>
            <ons-col class="center Sukhumvit-font" style="margin-top: 25px;">
                    <div>Fitbit Aria 2</div>
                    <div>Weight, Body Fat, BMI</div>
            </ons-col>
            <ons-col class="center" style="margin-top: 25px;">
                <img style="width:30px;height:30px;margin-top: 9px;" src="img/yes.png" alt="">
            </ons-col>
        </ons-row>
    </ons-card>
    <ons-card style="margin-top:30px;border-radius:10px;height: 90px;">
        <ons-row>
            <ons-col class="center"style="margin:auto;">
                <img src="img/h10.png" style="height: 72px; width: 72px;margin-top: 9px;">
            </ons-col>
            <ons-col class="center Sukhumvit-font"style="margin-top: 25px;">
                <div>Polar H10</div>
                <div>HRV, Heart rate</div>
            </ons-col>
            <ons-col class="center"style="margin-top: 25px;">
                    <img style="width:30px;height:30px;margin-top: 9px;" src="img/add.png" alt="">
            </ons-col>
        </ons-row>
    </ons-card>
    <ons-col style="margin-top:30px">
        <div class="center">
            <ons-button class="b1" id="recommend"onclick="ChartBuilder.smartreflexPush('views/recommendNewDevice.html', 'DEVICES RECOMMENDED', 3, 'waree@smartreflex.info')">DEVICES RECOMMENDED</ons-button>
        </div>
    </ons-col>
</ons-page>