<!-- MoreDevice -->

<ons-page id="moreDevice">
    <ons-search-input style="width:100%" placeholder="Search" onchange="ons.notification.alert('Searhed for: ' + this.value)"></ons-search-input>

    <ons-card style="margin-top:30px;border-radius:10px;height: 90px;">
        <ons-row>
            <ons-col class="center"style="margin:auto;">
                <img src="img/fitbit.png" style="height: 72px; width: 72px;margin-top: 8px;">
            </ons-col>
            <ons-col class="center Sukhumvit-font"style="margin:auto;">
                <h3>Fitbit</h3>
                <div>Sync with Fitbit devices</div>
                     
            </ons-col>
            <ons-col class="center "style="margin:auto;">
                <img style="width:30px;height:30px;margin-top: 9px;" src="img/add.png" id="charge2" alt="">
            </ons-col>
        </ons-row>
    </ons-card>    
    <ons-card style="margin-top:30px;border-radius:10px;height: 90px;">
        <ons-row>
            <ons-col class="center" style="margin:auto;">
                <img src="img/googlefit.png" style="height: 60px; width: 80px;margin-top: 9px;">
            </ons-col>
            <ons-col class="center Sukhumvit-font" style="margin-top: 25px;">
                    <h3>Google Fit</h3>
                    <div>Sync with Google Fit devices</div>
            </ons-col>
            <ons-col class="center" style="margin-top: 25px;">
                <img style="width:30px;height:30px;margin-top: 9px;" src="img/add.png" id="aria2" alt="">
            </ons-col>
        </ons-row>
    </ons-card>
    <ons-card style="margin-top:30px;border-radius:10px;height: 90px;">
        <ons-row>
            <ons-col class="center"style="margin:auto;">
                <img src="img/garmin.png" style="height: 72px; width: 72px;margin-top: 9px;">
            </ons-col>
            <ons-col class="center Sukhumvit-font"style="margin-top: 25px;">
                <h3>Garmin</h3>
                <div>Sync with Garmin devices</div>
            </ons-col>
            <ons-col class="center"style="margin-top: 25px;">
                    <img style="width:30px;height:30px;margin-top: 9px;" src="img/soon.png" id="h10" alt="">
            </ons-col>
        </ons-row>
    </ons-card>
    <ons-col style="margin-top:30px">
        <div class="center">
            <ons-button class="b1" id="recommend"onclick="ChartBuilder.smartreflexPush('views/recommendNewDevice.html', 'DEVICES', 3, 'waree@smartreflex.info')">DEVICES RECOMMENDED</ons-button>
        </div>
    </ons-col>
</ons-page>