 <!-- MoreDevice -->

        <ons-page id="moreDevice">
            <ons-toolbar id="toolsbar">
                <div class="toolbar__left center">
                    <ons-back-button></ons-back-button>
                </div>
                <div class="toolbar__center welcomeHeader">DEVICES</div>
                <div class="toolbar__right avatar">
                    <div class="thumbnail"></div>
                </div>
            </ons-toolbar>
            <ons-row>
                <ons-col>

                </ons-col>
            </ons-row>
            <ons-row>

            </ons-row>
            <ons-bottom-toolbar modifier="aligned" class="botton-toolbar-align center">
                <ons-row>
                    <ons-col width="25%">
                        <div id="smartPush" style="margin:auto">
                            <img style="WIDTH:52px;padding-top:6px" src="UI/ai/0.75x/smartcare.png" alt="">
                        </div>
                    </ons-col>
                    <ons-col width="25%">
                        <div id="personalPush" style="margin:auto">
                            <img style="WIDTH:68px;padding-top:7px" src="UI/ai/0.75x/personal.png" alt="">
                        </div>
                    </ons-col>
                    <ons-col width="25%">
                        <div id="moreDevicePush" style="margin:auto" class="transparent-Bottom-Toolbar">
                            <img style="WIDTH:60px;padding-top:3px" src="UI/ai/0.75x/moreDevice.png" alt="">
                        </div>
                    </ons-col>
                    <ons-col width="25%">
                        <div id="indexPush" style="margin:auto">
                            <img style="WIDTH:64px;padding-top:3px" src="UI/ai/0.75x/reflex.png" alt="">
                        </div>
                    </ons-col>
                </ons-row>
            </ons-bottom-toolbar>


            
                <ons-search-input style="width:100%" placeholder="Search" onchange="ons.notification.alert('Searhed for: ' + this.value)"></ons-search-input>
             
                <ons-card style="margin-top:30px;border-radius:10px;height: 90px;">
                    <ons-row>
                        <ons-col class="center"style="margin:auto;">
                            <img src="img/fitbit.png" style="width:80px;margin-top: 7px;">
                        </ons-col>
                        <ons-col class="center"style="margin:auto;">
                            Wearable Device ,HRV Data
                        </ons-col>
                        <ons-col class="center"style="margin:auto;">
                            <img style="width:40px;height:40px;" src="img/add.png" alt="">
                        </ons-col>
                    </ons-row>
                </ons-card>    
                <ons-card style="margin-top:30px;border-radius:10px;height: 90px;">
                    <ons-row>
                        <ons-col class="center"style="margin:auto;">
                            <img src="img/applewatch.png" style="width:95px;margin-top: 25px;">
                        </ons-col>
                        <ons-col class="center"style="margin-top: 25px;">
                            Wearable Device ,HRV Data
                        </ons-col>
                        <ons-col class="center"style="margin-top: 25px;">
                                <img style="width:40px;height:40px;" src="img/yes.png" alt="">
                        </ons-col>
                    </ons-row>
                </ons-card>    
                <ons-col style="margin-top:30px">
                    <div class="center">
                <ons-button class="b1" id="recommend">DEVICES RECOMMEND</ons-button></div></ons-col>
        </ons-page>

        