<ons-page id="personal">
    <ons-toolbar id="toolsbar">
        <div class="toolbar__left center">
            <ons-back-button></ons-back-button>
        </div>
        <div class="toolbar__center welcomeHeader">PERSONAL INFO</div>
        <div class="toolbar__right avatar">
            <div class="thumbnail"></div>
        </div>
    </ons-toolbar>
    <ons-row>
        <ons-col>

        </ons-col>
    </ons-row>
    <ons-row>

    </ons-row>
    <ons-bottom-toolbar modifier="aligned" class="botton-toolbar-align center">
        <ons-row>
            <ons-col width="25%">
                <div id="smartPush" style="margin:auto">
                    <img style="WIDTH:52px;padding-top:6px" src="UI/ai/0.75x/smartcare.png" alt="">
                </div>
            </ons-col>
            <ons-col width="25%">
                <div id="personalPush" style="margin:auto" class="transparent-Bottom-Toolbar">
                    <img style="WIDTH:68px;padding-top:7px" src="UI/ai/0.75x/personal.png" alt="">
                </div>
            </ons-col>
            <ons-col width="25%">
                <div id="moreDevicePush" style="margin:auto">
                    <img style="WIDTH:60px;padding-top:3px" src="UI/ai/0.75x/moreDevice.png" alt="">
                </div>
            </ons-col>
            <ons-col width="25%">
                <div id="indexPush" style="margin:auto">
                    <img style="WIDTH:64px;padding-top:3px" src="UI/ai/0.75x/reflex.png" alt="">
                </div>
            </ons-col>
        </ons-row>
    </ons-bottom-toolbar>



    <ons-row>
        <ons-col></ons-col>
        <ons-col>
            <div class="logo">
                <img class="logoSize" src="img\camera.png" alt="">
            </div>
        </ons-col>
        <ons-col></ons-col>
    </ons-row>

    <ons-row>
        <ons-col>
            <div class="center">
                <div class="text-Shadow headerText text-Spacing">PERSONAL INFO</div>

            </div>
        </ons-col>
    </ons-row>


    <ons-row style="margin-top:10px">
        <ons-col width="10%"></ons-col>
        <ons-col width="80%">

            <div class="card">
                <div class="card__title" style="font-size:20px; color:red;text-align: center;" font-family: 'SukhumvitSet-Text';>ข้อมูลพื้นฐาน</div>
                <div class="card__content">
                    ชื่อนามสกุล
                        <div class="left">
                                <textarea class="textarea" style="width:45%" rows="1" placeholder="First name"></textarea>
                                <textarea class="textarea" style="width:45%" rows="1" placeholder="Last name"></textarea>
                            </div>
                    <ons-col style="margin-top:30px">
                        <div class="center">
                            วัน | เดือน | ปีเกิด
                            <form action="" name="someform">
                                <select id="daydropdown"></select>
                                <select name="month" id="month">
                                </select>
                                <select id="yeardropdown"></select>
                            </form>
                        </div>
                    </ons-col>

                    <ons-list-item tappable>
                        <label class="left">
                            <ons-radio name="color" input-id="radio-1" checked type="checkbox" class="slectOne" data-id="1 selected"></ons-radio>
                        </label>
                        <label for="radio-1" class="center">ผู้ชาย</label>
                    </ons-list-item>
                    <ons-list-item tappable>
                        <label class="left">
                            <ons-radio name="color" input-id="radio-2" type="checkbox" class="slectOne" data-id="2 selected"></ons-radio>
                        </label>
                        <label for="radio-2" class="center">ผู้หญิง</label>
                    </ons-list-item>


                    <div class="center">
                        <div>
                            <p>น้ำหนัก ส่วนสูง รอบเอว</p>
                        </div>

                        <form action="">
                            <select id="weightdropdown"></select>
                            <select id="heighdropdown"></select>
                            <select id="waistlinedropdown"></select>
                        </form>
                    </div>

                    <ons-col style="margin-top:30px">
                        <div class="center">
                            <ons-button class="b1" id="finish">เสร็จสิ้น</ons-button>
                            <ons-button class="b2" id="datacare">ข้อมูลสุขภาพเชิงลึก</ons-button>
                            <p class="red">*อัพเดตข้อมูลสุขภาพเชิงลึกเพื่อเพิ่มประสิทธิภาพการประมวลผล</p>
                        </div>
                    </ons-col>
                </div>
            </div>
            <ons-col style="margin-top:30px"></ons-col>
    </ons-row>
</ons-page>