<ons-page id="personal">
    <ons-row>
        <ons-col></ons-col>
        <ons-col>
            <div class="logo">

                <img id="imgFileUpload" alt="Select File" title="Select File" class="logoSize" src="img/camera.png" onclick="camera();" style="cursor: pointer"
                />
                <br />
                <span id="spnFilePath"></span>
                <input type="file" id="FileUpload1" style="display: none" />

            </div>
        </ons-col>
        <ons-col></ons-col>
    </ons-row>
    <ons-card style="border-radius:10px;margin: 10px;padding: 10px;">


        <div style="font-size:17px; color:red;text-align: center;" font-family: 'SukhumvitSet-Text';>ข้อมูลพื้นฐาน</div>
        <div class="card__content" id="data">
            ชื่อ
            <div class="left">
                <ons-input id="fname" style="width:45%" rows="1" placeholder="First name"></ons-input>
            </div>
            นามสกุล
            <div class="left">
                <ons-input id="lname" style="width:45%" rows="1" placeholder="Last name"></ons-input>
            </div>
            <ons-col style="margin-top:30px">
                <div class="left">เดือน | วัน | ปีเกิด
                    <br>
                    <label for="meeting"></label>
                    <input id="dob" type="date"  />
                    </form>
                </div>
            </ons-col>

            <ons-list-item tappable>
                <label class="left" >
                    <ons-radio  name="gender"  value="M" type="checkbox" class="slectOne" data-id="1"></ons-radio>
                </label>
                <label for="radio-1" class="center">ผู้ชาย</label>
            </ons-list-item>
            <ons-list-item tappable>
                <label class="left">
                    <ons-radio  name="gender"  value="F" type="checkbox" class="slectOne" data-id="2"></ons-radio>
                </label>
                <label for="radio-2" class="center">ผู้หญิง</label>
            </ons-list-item>
            <div class="center">
                <p class="red">*อัพเดทข้อมูลล่าสุด 29/03/2561</p>
            </div>

            <ons-row>
                <ons-col>
                    <div class="center">น้ำหนัก</div>
                </ons-col>
                <ons-col>
                    <div class="center">ส่วนสูง</div>
                </ons-col>
                <ons-col>
                    <div class="center">รอบเอว</div>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <div class="center">
                        <ons-select id="weight" select-id="weightdropdown">
                            <option value="" selected="selected" disabled="disabled">กก.</option>
                        </ons-select>
                    </div>
                </ons-col>
                <ons-col>
                    <div class="center">
                        <ons-select id="height" select-id="heighdropdown">
                            <option value="" selected="selected" disabled="disabled">ซม.</option>
                        </ons-select>
                    </div>
                </ons-col>
                <ons-col>
                    <div class="center">
                        <ons-select id="waist" select-id="waistlinedropdown">
                            <option value="" selected="selected" disabled="disabled">นิ้ว</option>
                        </ons-select>
                    </div>
                </ons-col>
            </ons-row>
            <ons-row id="data" class="center">
            
            </ons-row>
            <ons-row id="data2" class="center">
            
            </ons-row>

            <ons-col style="margin-top:30px">
                <div class="center">
                    <ons-button class="b1" id="finish" onclick="updateUserData();">เสร็จสิ้น</ons-button>
                    <ons-button class="b2" id="datacare" onclick="ChartBuilder.smartreflexPush('views/data.html', 'PERSONAL INFO', 3, 'waree@smartreflex.info')">ข้อมูลสุขภาพแบบละเอียด</ons-button>
                    <p class="red">*อัพเดทข้อมูลสุขภาพแบบละเอียด</p>
                    <p class="red">เพื่อเพิ่มประสิทธิภาพการประมวลผล</p>
                </div>
            </ons-col>
        </div>
        </div>    
        </ons-row>
    </ons-card>
    </ons-row>

</ons-page>