
        <ons-page id="personal">
            <ons-toolbar id="toolsbar">
                <div class="toolbar__left center">
                    <ons-back-button></ons-back-button>
                </div>
                <div class="toolbar__center welcomeHeader">PERSONAL INFO</div>
                <div class="toolbar__right avatar">
                    <div class="thumbnail"></div>
                </div>
            </ons-toolbar>
            <ons-row>
                <ons-col>

                </ons-col>
            </ons-row>
            <ons-row>

            </ons-row>
            <ons-bottom-toolbar modifier="aligned" class="botton-toolbar-align center">
                <ons-row>
                    <ons-col width="25%">
                        <div id="smartPush" style="margin:auto">
                            <img style="WIDTH:52px;padding-top:6px" src="UI/ai/0.75x/smartcare.png" alt="">
                        </div>
                    </ons-col>
                    <ons-col width="25%">
                        <div id="personalPush" style="margin:auto" class="transparent-Bottom-Toolbar">
                            <img style="WIDTH:68px;padding-top:7px" src="UI/ai/0.75x/personal.png" alt="">
                        </div>
                    </ons-col>
                    <ons-col width="25%">
                        <div id="moreDevicePush" style="margin:auto">
                            <img style="WIDTH:60px;padding-top:3px" src="UI/ai/0.75x/moreDevice.png" alt="">
                        </div>
                    </ons-col>
                    <ons-col width="25%">
                        <div id="indexPush" style="margin:auto">
                            <img style="WIDTH:64px;padding-top:3px" src="UI/ai/0.75x/reflex.png" alt="">
                        </div>
                    </ons-col>
                </ons-row>
            </ons-bottom-toolbar>
        </ons-page>
