<ons-page id="recommendNewDevice">
   <ons-card style="border-radius:10px;margin: 10px;padding: 10px;">
       
            <p>ชื่ออุปกรณ์</p>
            <div class="left">
                <textarea class="textarea" style="width:60%" rows="1" placeholder=""></textarea>
            <p>รายละเอียดหรือคุณสมบัติอุปกรณ์</p>
            <div class="center">
                <textarea class="textarea" style="width:100%" rows="3" placeholder=""></textarea>
            </div>

            <ons-col style="margin-top:30px">
                <div class="center">
        <ons-button class="b1" id="send"onclick="changeTab('views/smartReflex.html', 'SMART REFLEX', 1);">SEND</ons-button></div></ons-col>
    </ons-card>
    <script>
            document.addEventListener('init', function (event) {
                var page = event.target;
                if (page.id == "recommendNewDevice") {
                    document.querySelector('ons-back-button').show();
                    document.querySelector('ons-back-button').onClick = function (event) {
                        document.querySelector('ons-navigator').popPage();
                    };
                }
            })
    </script>
</ons-page>

