<ons-page id="smartReflex">

    <ons-row>
        <!--Cover-->
        <ons-col>
            <div class="welcomeCover"></div>
            <div id="profileTarget"></div>
        </ons-col>
    </ons-row>
    <div>
        <ons-row class="right" style="margin-bottom:7px;margin-top:7px">
            <!--Content-->
            <ons-col></ons-col>
            <ons-col class="center Sukhumvit-font verticalLine">
                <div>Step</div>
                <div id="step"></div>
            </ons-col>
            <ons-col class="center Sukhumvit-font verticalLine">
                <div>Calories</div>
                <div id="cal"></div>
            </ons-col>
            <ons-col class="center Sukhumvit-font verticalLine">
                <div>Heart rate</div>
                <div id="hr"></div>
            </ons-col>
            <ons-col width="15px"></ons-col>
        </ons-row>

        <ons-row>
        </ons-row>
        <ons-row class="center" style="margin-bottom: 20px">
            <ons-col>
                <hr style="  border: 0.5px solid #e53d3d;">
            </ons-col>
            <ons-col width="24%" style="color: #e53d3d;font-family:SukhumvitSet-Bold">Today</ons-col>
            <ons-col>
                <hr style=" border: 0.5px solid #e53d3d;">
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col>
                <canvas id="myChart"></canvas>
                <!-- Radar Chart -->
            </ons-col>
        </ons-row>
        <hr style="width: 97%;   border: 0.5px solid #e53d3d;">
        <ons-row>
            <ons-col>
                <ons-carousel auto-scroll overscrollable id="gaugeCarouselReflex">
                    <ons-carousel-item>
                        <div style="text-align: center; font-size: 20px;">
                            <ons-row id="inner">
                                <ons-col class="center">
                                    <div>
                                        <canvas class="canvas" id="heartFit"></canvas>
                                        <!-- Heart Fit Gauge -->
                                    </div>
                                    <div class="color">Heart fit</div>
                                </ons-col>
                            </ons-row>
                        </div>
                    </ons-carousel-item>
                    <ons-carousel-item>
                        <div style="text-align: center; font-size: 20px;">
                            <ons-row>
                                <ons-col class="center">
                                    <div>
                                        <canvas class="canvas" id="metabolismFit"></canvas>
                                        <!-- metabolismFit Gauge -->
                                    </div>
                                    <div class="color">Metabolism fit</div>
                                </ons-col>
                            </ons-row>
                        </div>
                    </ons-carousel-item>
                    <ons-carousel-item>
                        <div style="text-align: center; font-size: 20px;">
                            <ons-row>
                                <ons-col class="center">
                                    <div>
                                        <canvas class="canvas" id="motionFit"></canvas>
                                        <!-- motionFit Gauge -->
                                    </div>
                                    <div class="color">Motion fit</div>
                                </ons-col>
                            </ons-row>
                        </div>
                    </ons-carousel-item>
                </ons-carousel>
            </ons-col>
        </ons-row>
        <ons-row style="margin-top: 25px;margin-bottom: 30px">
            <ons-col>
                <div class="center">
                    <ons-button id="heartBtn" class="buttonText gaugeViewButton color">Heart fit</ons-button>
                    <ons-button id="metaBtn" class="buttonText gaugeViewButton color">Metabolism fit</ons-button>
                    <ons-button id="motionBtn" class="buttonText gaugeViewButton color">Motion fit</ons-button>
                </div>
            </ons-col>
        </ons-row>

        <ons-row class="center">
            <ons-col>
                <hr style="width: 97%;   border: 0.5px solid #e53d3d;">
            </ons-col>
            <ons-col width="20%" style="color: #e53d3d;font-family:SukhumvitSet-Bold">คำแนะนำ</ons-col>
            <ons-col>
                <hr style="width: 97%;   border: 0.5px solid #e53d3d;">
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col style="color: #e53d3d;" class="center">
                ผลสุขภาพของคุณมีความเสี่ยงที่จะไม่สบายสูง ควรพบแพทย์ เพื่อตรวจเช็คร่างกาย
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col>
                <hr style="width: 97%;   border: 0.5px solid #e53d3d;">
            </ons-col>
        </ons-row>
        <ons-row style="margin-top: 25px">
            <ons-col>
                <div class="center">
                    <ons-button id="dailybtn" class="buttonText gaugeViewButton color">Daily</ons-button>
                    <ons-button id="weekbtn" class="buttonText gaugeViewButton color">Week</ons-button>
                    <ons-button id="monthbtn" class="buttonText gaugeViewButton color">Month</ons-button>
                    <ons-button id="yearbtn" class="buttonText gaugeViewButton color">Year</ons-button>
                </div>
            </ons-col>
        </ons-row>
        <ons-carousel swipeable auto-scroll overscrollable id="lineChartCarousel">
            <ons-carousel-item>
                <ons-row style="margin-bottom: 25px; margin-top: 25px">
                    <ons-col>
                        <canvas id="lineChartDaily"></canvas>
                    </ons-col>
                </ons-row>
            </ons-carousel-item>
            <ons-carousel-item>
                <ons-row style="margin-bottom: 25px; margin-top: 25px">
                    <ons-col>
                        <canvas id="lineChartWeek"></canvas>
                    </ons-col>
                </ons-row>
            </ons-carousel-item>
            <ons-carousel-item>
                <ons-row style="margin-bottom: 25px; margin-top: 25px">
                    <ons-col>
                        <canvas id="lineChartMonth"></canvas>
                    </ons-col>
                </ons-row>
            </ons-carousel-item>
            <ons-carousel-item>
                <ons-row style="margin-bottom: 25px; margin-top: 25px">
                    <ons-col>
                        <canvas id="lineChartYear"></canvas>
                    </ons-col>
                </ons-row>
            </ons-carousel-item>
        </ons-carousel>
        <div id="target">
        </div>
        <!--Content-->
    </div>
    <script>
        document.addEventListener('init', function (event) {
            var page = event.target;
            var currentUser = page.data.currentUser;
            if (page.id == "smartReflex") {

                SmartReflex.getScore(currentUser.profile.userid).then(function (message, user) {
                    var data = {
                        id: "0",
                        name: currentUser.profile.firstname,
                        img: currentUser.profile.photo,
                        meta: user.today.scores.metabolism,
                        heart: user.today.scores.heart,
                        motion: user.today.scores.motion,
                        step: user.today.steps,
                        cal: user.today.distance,
                        hr: user.today.HR
                    }
                    //Render profile photo
                    var profileTemplate = $('#profileTamplate').html();
                    var profileRendered = Mustache.render(profileTemplate, data);
                    $('#profileTarget').html(profileRendered);

                    //Render today health data, HR, steps, distance
                    var stepTemplate = $('#stepTemplate').html();
                    var callTemplate = $('#calTemplate').html();
                    var hrTemplate = $('#hrTemplate').html();
                    var stepTemplateRendered = Mustache.render(stepTemplate, data);
                    var calTemplateRendered = Mustache.render(callTemplate, data);
                    var hrTemplateRendered = Mustache.render(hrTemplate, data);
                    $('#step').html(stepTemplateRendered);
                    $('#cal').html(calTemplateRendered);
                    $('#hr').html(hrTemplateRendered);
                    ChartBuilder.createRadarchart("myChart", data.meta, data.heart, data.motion);
                });
            }
        })
    </script>
</ons-page>