<ons-page id="smartReflexPush">
        <ons-row>
                <!--Cover-->
                <ons-col>
                    <div class="welcomeCover"></div>
                    <div id="profilePushed"></div>
                </ons-col>
            </ons-row>
    <div>
        <ons-row class="right" style="margin-bottom:7px;margin-top:7px">
            <!--Content-->
            <ons-col></ons-col>
            <ons-col class="center Sukhumvit-font verticalLine">
                <div>Step</div>
                <div id="stepPush"></div>
            </ons-col>
            <ons-col class="center Sukhumvit-font verticalLine">
                <div>Calories</div>
                <div id="calPush"></div>
            </ons-col>
            <ons-col class="center Sukhumvit-font verticalLine">
                <div>Heart rate</div>
                <div id="hrPush"></div>
            </ons-col>
            <ons-col width="15px"></ons-col>
        </ons-row>
        <ons-row class="center" style="margin-bottom: 20px">
            <ons-col>
                <hr style=" border: 0.5px solid #e53d3d;">
            </ons-col>
            <ons-col width="24%" style="color: #e53d3d;font-family:SukhumvitSet-Bold">Today</ons-col>
            <ons-col>
                <hr style=" border: 0.5px solid #e53d3d;">
            </ons-col>
        </ons-row>
        <ons-row>
            <canvas id="myChartPush"></canvas>
            <!-- Radar Chart -->
        </ons-row>
        <hr style="width: 97%;   border: 0.5px solid #e53d3d;">
        <ons-row>
            <ons-col>
                <ons-carousel auto-scroll overscrollable id="gaugeCarouselReflexPush">
                    <ons-carousel-item>
                        <div style="text-align: center; font-size: 20px;">
                            <ons-row id="inner">
                                <ons-col class="center">
                                    <div>
                                        <canvas id="heartFitPush"></canvas>
                                        <!-- Heart Fit Gauge -->
                                    </div>
                                    <div class="color">Heart fit</div>
                                </ons-col>
                            </ons-row>
                        </div>
                    </ons-carousel-item>
                    <ons-carousel-item>
                        <div style="text-align: center; font-size: 20px; ">
                            <ons-row>
                                <ons-col class="center">
                                    <div>
                                        <canvas id="metabolismFitPush"></canvas>
                                        <!-- metabolismFit Gauge -->
                                    </div>
                                    <div class="color">Metabolism fit</div>
                                </ons-col>
                            </ons-row>
                        </div>
                    </ons-carousel-item>
                    <ons-carousel-item>
                        <div style="text-align: center; font-size: 20px;">
                            <ons-row>
                                <ons-col class="center">
                                    <div>
                                        <canvas id="motionFitPush"></canvas>
                                        <!-- motionFit Gauge -->
                                    </div>
                                    <div class="color">Motion fit</div>
                                </ons-col>
                            </ons-row>
                        </div>
                    </ons-carousel-item>
                </ons-carousel>
            </ons-col>
        </ons-row>
        <ons-row style="margin-top: 25px;margin-bottom: 30px">
            <ons-col>
                <div class="center">
                    <ons-button id="heartBtnPush" class="buttonText gaugeViewButton color">Heart fit</ons-button>
                    <ons-button id="metaBtnPush" class="buttonText gaugeViewButton color">Metabolism fit</ons-button>
                    <ons-button id="motionBtnPush" class="buttonText gaugeViewButton color">Motion fit</ons-button>
                </div>
            </ons-col>
        </ons-row>
        <ons-row class="center">
            <ons-col>
                <hr style="width: 97%;   border: 0.5px solid #e53d3d;">
            </ons-col>
            <ons-col width="20%" style="color: #e53d3d;font-family:SukhumvitSet-Bold">คำแนะนำ</ons-col>
            <ons-col>
                <hr style="width: 97%;   border: 0.5px solid #e53d3d;;">
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col style="color: #e53d3d;" class="center">
                ผลสุขภาพของคุณมีความเสี่ยงที่จะไม่สบายสูง ควรพบแพทย์ เพื่อตรวจเช็คร่างกาย
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col>
                <hr style="width: 97%;   border: 0.5px solid #e53d3d;">
            </ons-col>
        </ons-row>

        <ons-row style="margin-top: 25px">
            <ons-col>
                <div class="center">
                    <ons-button id="dailybtnPush" class="buttonText gaugeViewButton color">Daily</ons-button>
                    <ons-button id="weekbtnPush" class="buttonText gaugeViewButton color">Week</ons-button>
                    <ons-button id="monthbtnPush" class="buttonText gaugeViewButton color">Month</ons-button>
                    <ons-button id="yearbtnPush" class="buttonText gaugeViewButton color">Year</ons-button>
                </div>
            </ons-col>
        </ons-row>

        <ons-carousel swipeable auto-scroll overscrollable id="lineChartCarouselPush">
            <ons-carousel-item>
                <ons-row style="margin-bottom: 25px; margin-top: 25px">
                    <ons-col>
                        <canvas id="lineChartDailyPush"></canvas>
                    </ons-col>
                </ons-row>
            </ons-carousel-item>
            <ons-carousel-item>
                <ons-row style="margin-bottom: 25px; margin-top: 25px">
                    <ons-col>
                        <canvas id="lineChartWeekPush"></canvas>
                    </ons-col>
                </ons-row>
            </ons-carousel-item>
            <ons-carousel-item>
                <ons-row style="margin-bottom: 25px; margin-top: 25px">
                    <ons-col>
                        <canvas id="lineChartMonthPush"></canvas>
                    </ons-col>
                </ons-row>
            </ons-carousel-item>
            <ons-carousel-item>
                <ons-row style="margin-bottom: 25px; margin-top: 25px">
                    <ons-col>
                        <canvas id="lineChartYearPush"></canvas>
                    </ons-col>
                </ons-row>
            </ons-carousel-item>
        </ons-carousel>

        <ons-card class="cardPadding5px">
            <ons-row>
                <ons-col class="cardDevice">
                    <div class="center">
                        <img src="UI/ai/deviceLogo/75x/fitbit.png" alt="">
                    </div>
                </ons-col>
                <ons-col class="cardDevice">
                    <div>
                        Wareable Device KG iot , Sleep Data
                    </div>
                </ons-col>
                <ons-col class="cardDevice">
                    <div class="center">
                        <ons-switch checked></ons-switch>
                    </div>
                </ons-col>
            </ons-row>
        </ons-card>
        <ons-card class="cardPadding5px">
            <ons-row>
                <ons-col class="cardDevice">
                    <div class="center">
                        <img src="UI/ai/deviceLogo/75x/apple.png" style="width: 72px" alt="">
                    </div>
                </ons-col>
                <ons-col class="cardDevice">
                    <div>
                        Wareable Device ,HRV Data
                    </div>
                </ons-col>
                <ons-col class="cardDevice">
                    <div class="center">
                        <ons-switch disabled></ons-switch>
                    </div>
                </ons-col>
            </ons-row>
        </ons-card>

        <div id="target"></div>

        <!--Content-->
    </div>
    <script>
         document.addEventListener('init', function (event) {
            var page = event.target;
            var userid = page.data.userid;
            console.log(userid)
            if (page.id == "smartReflexPush") {
                SmartReflex.getScore(userid).then(function (message, user) {
                        var data = {
                            name: currentUser.profile.firstname,
                            img: currentUser.profile.photo,
                            meta: user.today.scores.metabolism,
                            heart: user.today.scores.heart,
                            motion: user.today.scores.motion,
                            step: user.today.steps,
                            cal: user.today.distance,
                            hr: user.today.HR,
                            alert: user.today.alert
                        }
                        //Render profile photo
                        var profileTemplate = $('#profileTamplate').html();
                        var profileRendered = Mustache.render(profileTemplate, data);
                        $('#profileTarget').html(profileRendered);
                         //Render today health data, HR, steps, distance
                        var stepTemplate = $('#stepTemplate').html();
                        var callTemplate = $('#calTemplate').html();
                        var hrTemplate = $('#hrTemplate').html();
                        var stepTemplateRendered = Mustache.render(stepTemplate, data);
                        var calTemplateRendered = Mustache.render(callTemplate, data);
                        var hrTemplateRendered = Mustache.render(hrTemplate, data);
                        $('#step').html(stepTemplateRendered);
                        $('#cal').html(calTemplateRendered);
                        $('#hr').html(hrTemplateRendered);
                        ChartBuilder.createRadarchart("myChartPush", data.meta, data.heart, data.motion, alert);
                        ChartBuilder.gaugebuilder("heartFitPush", data.heart);
                        ChartBuilder.gaugebuilder("metabolismFitPush", data.meta);
                        ChartBuilder.gaugebuilder("motionFitPush", data.motion);
                        ChartBuilder.linechartBuilder("lineChartDailyPush", "lineChartWeekPush", "lineChartMonthPush", "lineChartYearPush", user.history.heart);

                        //botton handle
                        $('#heartBtnPush').addClass("gaugeViewButtonSelected");
                        $('#dailybtnPush').addClass("gaugeViewButtonSelected");
                    $('#heartBtnPush').click(function () {
                        document.getElementById('gaugeCarouselReflexPush').setActiveIndex(0);
                        $('#heartBtnPush').addClass("gaugeViewButtonSelected");
                        $('#metabtnPush').removeClass("gaugeViewButtonSelected");
                        $('#motionBtnPush').removeClass("gaugeViewButtonSelected");
                        ChartBuilder.removeData(ChartBuilder.lineChartDaily);
                        ChartBuilder.removeData(ChartBuilder.lineChartWeek);
                        ChartBuilder.removeData(ChartBuilder.lineChartMonth);
                        ChartBuilder.removeData(ChartBuilder.lineChartYear);
                        ChartBuilder.addData(ChartBuilder.lineChartDaily, user.history.heart.day);
                        ChartBuilder.addData(ChartBuilder.lineChartWeek, user.history.heart.week);
                        ChartBuilder.addData(ChartBuilder.lineChartMonth, user.history.heart.month);
                        ChartBuilder.addData(ChartBuilder.lineChartYear, user.history.heart.year);
                    })
                    $('#metaBtnPush').click(function () {
                        document.getElementById('gaugeCarouselReflexPush').setActiveIndex(1);
                        $('#metaBtnPush').addClass("gaugeViewButtonSelected");
                        $('#motionBtnPush').removeClass("gaugeViewButtonSelected");
                        $('#heartBtnPush').removeClass("gaugeViewButtonSelected");
                        ChartBuilder.removeData(ChartBuilder.lineChartDaily);
                        ChartBuilder.removeData(ChartBuilder.lineChartWeek);
                        ChartBuilder.removeData(ChartBuilder.lineChartMonth);
                        ChartBuilder.removeData(ChartBuilder.lineChartYear);
                        ChartBuilder.addData(ChartBuilder.lineChartDaily, user.history.metabolism.day);
                        ChartBuilder.addData(ChartBuilder.lineChartWeek, user.history.metabolism.week);
                        ChartBuilder.addData(ChartBuilder.lineChartMonth, user.history.metabolism.month);
                        ChartBuilder.addData(ChartBuilder.lineChartYear, user.history.metabolism.year);                        
                    })
                    $('#motionBtnPush').click(function () {
                        document.getElementById('gaugeCarouselReflexPush').setActiveIndex(2);
                        $('#motionBtnPush').addClass("gaugeViewButtonSelected");
                        $('#metaBtnPush').removeClass("gaugeViewButtonSelected");
                        $('#heartBtnPush').removeClass("gaugeViewButtonSelected");
                        ChartBuilder.removeData(ChartBuilder.lineChartDaily);
                        ChartBuilder.removeData(ChartBuilder.lineChartWeek);
                        ChartBuilder.removeData(ChartBuilder.lineChartMonth);
                        ChartBuilder.removeData(ChartBuilder.lineChartYear);
                        ChartBuilder.addData(ChartBuilder.lineChartDaily, user.history.motion.day);
                        ChartBuilder.addData(ChartBuilder.lineChartWeek, user.history.motion.week);
                        ChartBuilder.addData(ChartBuilder.lineChartMonth, user.history.motion.month);
                        ChartBuilder.addData(ChartBuilder.lineChartYear, user.history.motion.year);
                    })
                    $('#dailybtnPush').click(function () {
                        document.getElementById('lineChartCarouselPush').setActiveIndex(0);
                        $('#dailybtnPush').addClass("gaugeViewButtonSelected");
                        $('#weekbtnPush').removeClass("gaugeViewButtonSelected");
                        $('#monthbtnPush').removeClass("gaugeViewButtonSelected");
                        $('#yearbtnPush').removeClass("gaugeViewButtonSelected");
                    })
                    $('#weekbtnPush').click(function () {
                        document.getElementById('lineChartCarouselPush').setActiveIndex(1);
                        $('#dailybtnPush').removeClass("gaugeViewButtonSelected");
                        $('#weekbtnPush').addClass("gaugeViewButtonSelected");
                        $('#monthbtnPush').removeClass("gaugeViewButtonSelected");
                        $('#yearbtnPush').removeClass("gaugeViewButtonSelected");
                    })
                    $('#monthbtnPush').click(function () {
                        document.getElementById('lineChartCarouselPush').setActiveIndex(2);
                        $('#dailybtnPush').removeClass("gaugeViewButtonSelected");
                        $('#weekbtnPush').removeClass("gaugeViewButtonSelected");
                        $('#monthbtnPush').addClass("gaugeViewButtonSelected");
                        $('#yearbtnPush').removeClass("gaugeViewButtonSelected");
                    })
                    $('#yearbtnPush').click(function () {
                        document.getElementById('lineChartCarouselPush').setActiveIndex(3);
                        $('#dailybtnPush').removeClass("gaugeViewButtonSelected");
                        $('#weekbtnPush').removeClass("gaugeViewButtonSelected");
                        $('#monthbtnPush').removeClass("gaugeViewButtonSelected");
                        $('#yearbtnPush').addClass("gaugeViewButtonSelected");
                    })
                });
            }
         });
    </script>
</ons-page>