
    <ons-page id="smartCare">
        <ons-row style="margin-top:20px">
            <ons-col class="center">
                <div>
                    RECENTLY ADDED
                </div>
            </ons-col>
        </ons-row>
        <ons-row style="margin-top:20px;margin-bottom:20px">
            <ons-col>
                <ons-carousel swipeable>
                    <div class="ons-swiper-target ">
                        <ons-carousel-item>
                            <div class="center" id="recentlyTarget">
                                
                            </div>
                        </ons-carousel-item>
                        <ons-carousel-item>
                            <div class="center" id="recentlyTarget2">
                                
                            </div>
                        </ons-carousel-item>
                    </div>
                </ons-carousel>
            </ons-col>
        </ons-row>
        <ons-row style="margin-bottom:20px">
            <ons-col></ons-col>
            <ons-col width="92%" class="center">
                <ons-card class="center" style="padding-left:0px;padding-right:0px;padding-bottom:0px;padding-top:10px;border-radius:4px">
                    <div class="careText">
                        <div>ดูแลคนที่คุณห่วงใยผ่าน Smart Care</div>
                        <div>โดยที่คุณสามารถดูผลสุขภาพของคนที่คุณรักผ่าน Applications นี้</div>
                        <div>รายงานผลสุขภาพประจำวันและแจ้งเตือนเมื่อผลวิเคราะห์มีความเสี่ยงที่จะไม่สบาย / ควรพบแพทย์</div>
                    </div>
                    <div style="margin-bottom:10px">
                        <div style="color:#f53737">
                            ฟรี!!! 1 User ถึง กันยายน 61
                        </div>
                        <div style="color:#f53737">
                            ค่าบริการ 199 บาท | 1 User | เดือน
                        </div>
                    </div>
                    <div style="background-color: rgb(241, 111, 93, 0.86);    border-bottom-left-radius: 4px;;    border-bottom-right-radius: 4px;color: aliceblue;">สมัครใช้บริการ</div>
                </ons-card>
            </ons-col>
            <ons-col></ons-col>
        </ons-row>
        <ons-row style="margin-bottom:20px">
            <ons-col class="center">
                YOUR FAMILY
            </ons-col>
        </ons-row>

        <ons-row id="family" class="center">
            
        </ons-row>
        <ons-row class="center">
                <div class="marginAuto" >
                        <img class="smartProfile" src="https://cdn1.iconfinder.com/data/icons/rounded-flat-country-flag-collection-1/2000/ch-01.png" alt="">
                </div>
        </ons-row>
        <script>

        </script>
    </ons-page>
