<ons-page id="welcome">
    <ons-toolbar>
        <div class="center">Welcome</div>
    </ons-toolbar>
    <ons-row>
            <ons-col class="avatar"><div class="thumbnail"></div></ons-col>
    </ons-row>
    <ons-row>
            <div class="text-center">ข้อมูลของฉัน</div>
    </ons-row>
    <script>
        $('#push-button').click(function () {
            document.querySelector('#mainNavigator').pushPage('views/me.html', {
                data: {
                    title: 'My Reflex'
                }
            });
        })
    </script>
</ons-page>