/* kanit-200 - latin_thai */

@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/kanit-v3-latin_thai-200.eot');
    /* IE9 Compat Modes */
    src: local('Kanit ExtraLight'), local('Kanit-ExtraLight'), url('../fonts/kanit-v3-latin_thai-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/kanit-v3-latin_thai-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/kanit-v3-latin_thai-200.woff') format('woff'), /* Modern Browsers */
    url('../fonts/kanit-v3-latin_thai-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/kanit-v3-latin_thai-200.svg#Kanit') format('svg');
    /* Legacy iOS */
}

/* kanit-300 - latin_thai */

@font-face {
    font-family: 'Kanit-300';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/kanit-v3-latin_thai-300.eot');
    /* IE9 Compat Modes */
    src: local('Kanit Light'), local('Kanit-Light'), url('../fonts/kanit-v3-latin_thai-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/kanit-v3-latin_thai-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/kanit-v3-latin_thai-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/kanit-v3-latin_thai-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/kanit-v3-latin_thai-300.svg#Kanit') format('svg');
    /* Legacy iOS */
}

/* kanit-regular - latin_thai */

@font-face {
    font-family: 'Kanit-400';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kanit-v3-latin_thai-regular.eot');
    /* IE9 Compat Modes */
    src: local('Kanit Regular'), local('Kanit-Regular'), url('../fonts/kanit-v3-latin_thai-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/kanit-v3-latin_thai-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/kanit-v3-latin_thai-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/kanit-v3-latin_thai-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/kanit-v3-latin_thai-regular.svg#Kanit') format('svg');
    /* Legacy iOS */
} 

@font-face{
    font-family: 'SukhumvitSet-Bold';
    font-style: normal;
    src :url('../fonts/SukhumvitSet.ttc');
    src: 
    url('../fonts/SukhumvitSet-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/SukhumvitSet-Bold.woff') format('woff'), /* Modern Browsers */
}

@font-face{
    font-family: 'SukhumvitSet-Light';
    font-style: normal;
    src :url('../fonts/SukhumvitSet.ttc');
    src:
    url('../fonts/SukhumvitSet-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/SukhumvitSet-Light.woff') format('woff'), /* Modern Browsers */
}


@font-face{
    font-family: 'SukhumvitSet-Medium';
    font-style: normal;
    src :url('../fonts/SukhumvitSet.ttc');
    src:
    url('../fonts/SukhumvitSet-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/SukhumvitSet-Medium.woff') format('woff'), /* Modern Browsers */
}


@font-face{
    font-family: 'SukhumvitSet-SemiBold';
    font-style: normal;
    src :url('../fonts/SukhumvitSet.ttc');
    src:
    url('../fonts/SukhumvitSet-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/SukhumvitSet-SemiBold.woff') format('woff'), /* Modern Browsers */
}


@font-face{
    font-family: 'SukhumvitSet-Text';
    font-style: normal;
    src :url('../fonts/SukhumvitSet.ttc');
    src:
    url('../fonts/SukhumvitSet-Text.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/SukhumvitSet-Text.woff') format('woff'), /* Modern Browsers */
}


@font-face{
    font-family: 'SukhumvitSet-Thin';
    font-style: normal;
    src :url('../fonts/SukhumvitSet.ttc');
    src:
    url('../fonts/SukhumvitSet-Thin.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/SukhumvitSet-Thin.woff') format('woff'), /* Modern Browsers */
}

*{
    font-family: 'SukhumvitSet-Text';
    color: #787878
}

body{
    font-family: 'SukhumvitSet-Text';
    color: #787878
}


div{
    /*border: solid 1px black;*/
}

.toolbar.toolbar--material+.page__background+.page__content{
        top: 56px
}

.welcomeCover{
    
    width: 100%;
    height: 65px;
    background-image: url("../UI/ai/1x/cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-Shadow{
    text-shadow: 0.1px 0.1px 10px #9b9b9c;
}

.welcomeHeader{
    font-size: 20px;
    font-family: 'SukhumvitSet-Bold';
    color: whitesmoke;
}

.headerText{
    font-size: 30px;
    font-family: 'SukhumvitSet-Bold'
}

.subtitleText{
    font-family: 'SukhumvitSet-Bold';
    font-size: 17px;
}

.fonts{
    font-family: 'SukhumvitSet-Text';
    color: #787878
    
}

.text-Spacing{
    letter-spacing: 2.5px;
}

.page {
    font-family: 'SukhumvitSet-Text';
    background-color: white;
}

ons-input .text-input {
    color: rgb(224, 20, 20);
    font-family: 'SukhumvitSet-Text';
    font-size: 18px;
    border-radius: 4px;
    /*
    background: #330066;    
    background: -webkit-linear-gradient(left,#330066 , #CC3300);
    background: -o-linear-gradient(right, #330066, #CC3300); 
    background: -moz-linear-gradient(right, #330066, #CC3300); 
    background: linear-gradient(to right, #330066 , #CC3300);
    */
    width: 290px;
    height: 37px;
    margin:  0;
    padding: 12px 20px;
    
    
}

.toolbar--material{
    background: #330066;    
    background: -webkit-linear-gradient(left,#330066 , #CC3300);
    background: -o-linear-gradient(right, #330066, #CC3300); 
    background: -moz-linear-gradient(right, #330066, #CC3300); 
    background: linear-gradient(to right, #330066 , #CC3300);
    margin: 0px;
    
}

.bottom-bar{
    background: #330066;    
    background: -webkit-linear-gradient(left,#330066 , #CC3300);
    background: -o-linear-gradient(right, #330066, #CC3300); 
    background: -moz-linear-gradient(right, #330066, #CC3300); 
    background: linear-gradient(to right, #330066 , #CC3300);
    margin: 0px;
    height: 56px;
}



placholder{
    text-indent: 50px;
}


.button {
    font-family: 'SukhumvitSet-Text';
    font-size: 18px;
    background-color: whitesmoke;
    color:#787878;
}

.logo{
    
    text-align: center;
    margin-top: 35px;
    margin-bottom: 5px;
    
}

.loginMargin{
    margin-bottom: 20px;
}

#login .page__background {
    background-color: #f0f0f0;
}

#home .page__background {
    background-image: url("../img/bg3.jpg");
    opacity: 1.0;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#welcome .page__background {
   
}

.center{
    text-align: center
}

#login_panel {
    text-align: center;
    margin: 30px;
    color: white;
}

.avatar {
    margin: 10px auto;
    text-align: center;
}

.thumbnail {
    width: 30px;
    height: 30px;
    background-image: url("../img/woman.png");
    display: inline-block;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.arrow{
    width: 19px;
    height: 19px;
    background-image: url("../UI/ai/0.75x/arrow.png");
    display: inline-block;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.toolbar--material__center, .toolbar--material__left, .toolbar--material__right{
    line-height: 60px
}

.text-center {
    text-align: center;
    margin: auto;
}

.logoSize{
    width: 79%;
    height: 79%;
}

.botton-toolbar-align{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.profile{
    width: 70px;
    height: 70px;
    background-image: url("../UI/aoi.jpg");
    display: inline-block;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: 22px;
    left: 31px;
    position: absolute;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);

}


@media only screen and (max-width: 768px) {
    /*Mobile Screen*/
    
}